.loginBackground {
  background-color: #fff8f0; /* Fondo blanco */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.loginTitle {
  color: #dd3d15; /* Color naranja */
  font-size: 2rem;
  margin-bottom: 1rem;
}

.loginSubtitle {
  color: #555;
  margin-bottom: 2rem;
}

.loginButton {
  background-color: #dd3d15; /* Color naranja */
  border-color: #dd3d15;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.forgotPassword {
  color: #dd3d15;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.signupCard {
  background-color: #dd3d15b7 !important; /* Fondo naranja */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.25rem;
  top: auto;
  margin-left: 2rem;
}

.centerVertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Opcional: Esto asegura que el contenido se centre verticalmente en todo el espacio disponible */
  }
  

.signupCard h2,
p {
  color: #ffffff;
}

.registerButton {
  background-color: #dd3d15; /* Fondo blanco */
  border-color: #dd3d15c4;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
}

/* Ajuste de ancho para el CardGroup */
.cardGroup {
  width: 100%;
  max-width: 900px; /* Ajuste del ancho máximo */
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 300px; /* Ajuste de ancho mínimo para cada tarjeta */
  margin: 10px;
}

.smokyGray {
    color: #555555b7; /* Código de color para el gris ahumado */
  }