.howItWorks {
    text-align: Left;
    padding: 20px;
}

.howItWorks h2 {
    font-size: 6vw;
    font-weight: bolder;
}

.howItWorks p {
    font-size: 3vw;
    font-weight: 300;
    color: inherit ;   
}



.cardRows {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardRow {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    /* background-color: #eee; */
    background-color: #15DDA1;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin: 0 10px;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #666;
    margin: 0;
}
