.registerBackground {
    background-color: #fff8f0; /* Fondo blanco */
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
  }
  
  .registerTitle {
    color: #dd3d15; /* Color naranja */
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .registerSubtitle {
    color: #555;
    margin-bottom: 2rem;
  }
  
  .smokyGray {
    color: #555; /* Color gris ahumado */
  }
  
  .cardGroup {
    width: 100%;
    max-width: 900px; /* Ajuste del ancho máximo */
    display: flex;
    flex-wrap: wrap;
  }

  .cardGroup .card{
    margin-top: 30px;
    margin-bottom: 0;
  }
  
  .card {
    flex: 1 1 300px; /* Ajuste de ancho mínimo para cada tarjeta */
    margin: 10px;
  }
  
  .loginLink {
    margin-top: 10px;
    color: #555; /* Color gris ahumado */
    text-align: center;
  }
  
  .login {
    color: #dd3d15; /* Color naranja */
  }

  .selectInput {
    width: auto; /* Cambia el ancho a automático */
    max-width: 100%; /* Agrega un ancho máximo para evitar que se extienda más allá de su contenedor */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  /* Elimina el estilo adicional para las opciones */
  /* .selectInput option {
    width: 95%;
  } */
  

  

 
  