/* .registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registerForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.formGroup {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registerButton {
    background-color: #DD3D15;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.registerButton:hover {
    background-color: #B5DD15;
} */


/* Register.module.css */

.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registerForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.formGroup {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registerButton {
    background-color: #DD3D15;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.registerButton:hover {
    background-color: #B5DD15;
}

.loginLink {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

.inicia {
    text-decoration: none;
}
