@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
  display: flex;
  height: 100vh;
  position: relative;
}

.spinnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
}

.profileForm {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.profileName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profileEmail {
  font-size: 16px;
  color: #888;
  margin-bottom: 20px;
}

.menuItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #333;

  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menuItem:hover {
  background-color: rgba(79, 169, 77, 0.1); /* Cambia el color de fondo al pasar el mouse */
}



.menuItem .icon {
  margin-right: 10px;
  color: #1877f2;
}

.menuItem:hover .icon {
  color: #4fa94d; /* Cambia el color del icono al pasar el mouse */
  transform: scale(1.1); /* Aumenta un poco el tamaño del icono */
  cursor: pointer;
}

.logoutItem {
  margin-top: auto;
  padding: 15px 20px;
  width: calc(100% - 40px);
}

.logoutItem button {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  color: #fff;
  background-color: #d93025;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutItem button:hover {
  background-color: #ea4335;
}

.form {
  padding: 20px;
  margin: 40px 0 40px 0;
  width: 100%;
  max-width: 900px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bienvenido {
  color: #0056b3;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.parrafo {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input,
.formGroup select {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.submitButton {
  width: 45%;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #0056b3;
}

.logoutButton {
  width: 45%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #d93025;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #ea4335;
}
