/* Navbar.module.css */
.navigation {
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  .navList {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .navList li {
    margin-right: 20px;
  }
  
  .navList li.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #007bff; /* Cambia el color según sea necesario */
    margin-top: 5px;
  }
  
  .navList li:last-child {
    margin-right: 0;
  }
  
  .navList li a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 5px;
  }
  
  .activeBar {
    background-color: #007bff; /* Cambia el color según sea necesario */
    height: 2px;
    width: 50px;
    position: absolute;
    bottom: 0;
    transition: width 0.3s ease;
  }
  